<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LoginUrl" value="https://login.xero.com/" />
		<add key="ApplicationUrl" value="https://go.xero.com/" />

		<!-- Login credentials -->
		<add key="EmailAddress" value="" />
		<add key="Password" value="" />

		<!-- Allowed values (case-insensitive): Chrome, IE, InternetExplorer, Firefox -->
		<add key="BrowserType" value="chrome" />

		<!-- Wait time -->
		<add key="ImplicitWaitTime" value="5000" />
		<add key="ExplicitWaitTime" value="6000" />
	</appSettings>
</configuration>